.mainscreen-container {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
}

.mainscreen-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: baseline;
  padding-bottom: 20px;
}

.mainscreen-header h1 {
  font-size: 41px;
}

.mainscreen-calendar {
  text-align: center;
  background: rgb(240, 240, 240);
  padding: 30px;
  color: #fff;
  box-shadow: 1px 1px 1px 1px whitesmoke;
  border-radius: 5px;
  overflow-y: scroll;
}

.mainscreen-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.button {
  cursor: pointer;
  font-size: 21px;
}

.button:hover {
  color: rgb(240, 240, 240);
}

.button-prev {
  margin-left: 150px;
}

.button-next {
  margin-right: 150px;
}