.day {
  margin: auto;
  padding: 5px 10px;
  width: 42px;
  line-height: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius:  1px 5px;
}

.day:hover {
  background: rgb(84, 182, 187);
}

.isHidden {
  visibility: hidden;
}

.isToday {
  color: rgb(37, 28, 28);
}

.isFebrFirst {
  background: url('./img/white_circle_png_transparent_1506588.png') 54% bottom no-repeat / 60%;
}

.isFebrFirst:hover {
  background: url('./img/white_circle_png_transparent_1506588.png') 54% bottom no-repeat / 60% rgb(84, 182, 187);
}

.selected {
  background: rgb(62, 115, 117);
  border-radius: 0;
}

.select-start {
  background: rgb(46, 84, 85);
  border-radius: 5px 0 0 5px;
}

.select-end {
  background: rgb(46, 84, 85);
  border-radius: 0 5px 5px 0;
}