.sidebar{
  background: rgb(80, 81, 92);
  grid-area: S;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 1px 1px 10px 1px grey;
  text-align: left;
  /* max-width: 288px; */
}

.sidebar__button {
  background: rgb(240, 240, 240);
  color: rgb(71, 71, 71);
  cursor: pointer;
  font-size: 21px;
  margin: auto;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}

.total {
  padding: 20px 0;
  font-size: 31px;
}

.number {
  font-size: 41px;
  color: red;
}