  .month-list {
  background: rgb(133, 228, 223);
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px #bbbbbb;
  list-style-type: none;
}

.month-row {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  row-gap: 10px;
  padding: 10px 0;
}

.month-header {
  background: #bbbbbb;
  color: black;
}

.month-list h3 {
  padding: 10px;
  color: grey;
}